{% extends 'base.html.twig' %}

{% block title %}Encuesta electrónica {% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .divResultadoFinal {font-size: 20px;}
        .li {font-size: 14px; list-style-type: none;}
    </style>

    <div class="example-wrapper">
        <h4>Encuesta electrónica</h4>

        {% for group in survey['survey']['groups'] %}
            <h5>{{ group.title ~ ":  " ~ group.average_value ~ "%" }}</h5>
            <h5>Preguntas</h5>
            <ul>
                {% for item in group.items %}
                    <li class="li"><strong>{{ item.nomenclature }})</strong> {{ item.title }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        <div class="divResultadoFinal">
            <h5>Resultado final: {{ survey['survey'].average_value }} %</h5>
        </div>
    </div>
{% endblock %}